/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Import Tailwind CSS first */

@import "tailwindcss";
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

@font-face {}


/* Custom theme and properties */

@theme {
    --font-Monrope: Poppins, "sans-serif";
    --font-Domine: Domine, "serif";
    /* Custom Colors */
    --color-primary-blue: #005179;
    --color-secondary-button: #F1E674;
    --color-light-green: #2EB928;
    --color-text-default: #383838;
}


/* === Animated rotating shine border === */

.shiny-border {
    position: relative;
    border-radius: 9999px;
    /* fully rounded */
    overflow: hidden;
    z-index: 0;
}

.shiny-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 9999px;
    padding: 2px;
    /* thickness of the shiny border */
    background: conic-gradient( from 0deg, #00b4d8, #90e0ef, #0077b6, #00b4d8);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    animation: rotate-shine 2.5s linear infinite;
    z-index: -1;
}


/* rotate the conic gradient */

@keyframes rotate-shine {
    to {
        transform: rotate(360deg);
    }
}